
extend layout 

block content 
     nav(class="navbar navbar-expand-lg")(style="background: grey; color: white; font-weight: bold;")
      .container-fluid
        a(class="navbar-brand" href="#")(style="color: white;") PMS
        button(class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" 
            aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
          div(class="navbar-nav")
            a(class="nav-link active" aria-current="page" href="#")(style="color: white;") Home
            a(class="nav-link" href="/cities_a")(style="color: white;") Cities |
            a(class="nav-link" href="/reg_user")(style="color: black;") Register User | 
            a(class="nav-link" href="/v_user")(style="color: white;") View Users |
            a(class="nav-link" href="/alogout")(style="color: white;") Logout 

     .container
        .row
          .col-md-6.offset-md-3
           h2.text-center Register User
           span.text-success
            if message
              p.success= message
           span.text-danger
            if error
              p.error= error

        form(action="/register_user", method="POST")
          .form-group
            label(for="User Email") User Email:
            input#userEmail.form-control(type="email", name="email", required, placeholder="Enter User Email")
          .form-group
            label(for="User Password") User Password:
            input#UserPassword.form-control(type="password", name="password",required,  placeholder="Enter User password")
            br
          button.btn.btn-primary(type="submit") Register User

     footer.footer(style="background: grey; color: white; font-weight: bold; margin-top: 40%;")
        .container
            .row
                .col-md-4
                    
                .col-md-4.text-center
                    h3 &copy copywrite 2024
                .col-md-4
